.extra-goods-item {
  padding-top: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid darken(@grey, 20%);

  &__title {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }

  &__table {
    font-family: @arial;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    width: 100%;
    box-sizing: border-box;
    color: @grey-text;
    border-collapse: collapse;
    margin-top: 12px;
    margin-bottom: 13px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  // &__column {
  //   &--1 {
  //     flex-grow: 1;
  //   }
  // }

  &__button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @tablet-width) {
  .extra-goods-item {
    padding: 25px 38px;
    padding-bottom: 27px;
    border: 1px solid darken(@grey, 20%);
    border-top: none;

    &:first-child {
      border-top: 1px solid darken(@grey, 20%);
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: flex-start;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
      margin-right: auto;
    }

    &__table {
      font-size: 16px;
      line-height: 20px;
      max-width: 280px;
      margin: 0;
      // margin-bottom: 24px;
      border-spacing: 55px;
      text-align: right;
    }

    &__column {
      display: inline;
    }

    &__column:first-child {
      flex-grow: 1;
    }

    &__column:last-child {
      width: 95px;
      box-sizing: border-box;
    }

    &__button {
      font-size: 16px;
      line-height: 18px;
      width: 100%;
      margin-top: 22px;
    }
  }
}

@media (min-width: @desktop-width) {
  .extra-goods-item {
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid darken(@grey, 20%);

    &__wrapper {
      flex-wrap: nowrap;
    }

    &__title {
      width: 20%;
    }

    &__button {
      // max-width: 245px;
      margin: 0;
      // margin-left: 35px;

      width: 245px;
      margin-left: 35px;
    }

    &__table {
      margin-bottom: 0;
      max-width: 290px;
    }

    &__column:first-child {
      flex: none;
    }

    &__column:last-child {
      width: auto;
      min-width: 40px;
      text-align: left;
    }
  }
}
