.extra-goods {
  .container;

  &__list {
    .list-style-none();
    border-top: 1px solid darken(@grey, 20%);
  }

  &__title {
    font-weight: 400;
    text-transform: none;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 34px;
    position: relative;
  }

  &__title-wrapper {
    z-index: 1;
    display: flex;
    justify-content: space-between;

    &::after {
      content: "";
      height: 3px;
      background-color: @green;
      width: 17%;
      margin-left: 25px;
      margin-top: 12px;
      margin-right: -20px;
    }
  }

  &__offer {
    color: @white;
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 280px auto;
    background-position: center;
    margin-top: 37px;
    margin-bottom: 32px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
    }

    & img {
      padding: 61px 0;
      display: block;
      margin: 0 auto;
    }
  }

  &__info {
    margin: 0;
    text-align: center;
    font-family: @arial;
    text-transform: none;
    font-size: 16px;
    line-height: 20px;
    padding: 188px 55px 43px;
    box-sizing: border-box;
    background-image: url("../../img/icon-gift.svg");
    background-size: 56px 66px;
    background-repeat: no-repeat;
    background-position: center 65px;
  }
}

@media (min-width: @tablet-width) {
  .extra-goods {
    padding: 0;
    margin-top: -74px;

    &__wrapper {
      .container-tablet;
    }

    &__title {
      font-size: 36px;
      line-height: 36px;
      padding: 0 38px;
      padding-bottom: 78px;
      position: relative;
      padding-left: 30px;
    }

    &__title-wrapper {
      z-index: 1;
      background-color: @white;
      display: inline-block;
      padding: 0 40px;

      &::after {
        width: 110%;
        z-index: -1;
        position: absolute;
        top: 10px;
        right: 0;
      }
    }

    &__offer {
      background-image: url("../img/gift-photo-tablet@1x.jpg");
      background-size: 100% auto;
      width: 708px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 75px;
      min-height: 200px;
      // background-color: @green;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
      }

      & img {
        width: 55px;
        margin-left: 90px;
        margin-right: 214px;
        padding: 0;
        padding-bottom: 10px;
      }
    }

    &__info {
      // width: 50%;
      text-align: left;
      vertical-align: middle;
      padding: 0;
      padding-left: 425px;
      padding-right: 120px;
      background-position: 90px center;
    }
  }
}

@media (min-width: @desktop-width) {
  .extra-goods {
    .container-desktop;
    padding: 0;
    margin-bottom: 85px;
    margin-top: -65px;

    &__title {
      padding: 0;
      padding-bottom: 80px;
    }

    &__list {
      width: 73.5%;
      border-top: 1px solid darken(@grey, 20%);
    }

    &__wrapper {
      .container-desktop;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__offer {
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      display: block;
      background-size: auto;
      width: 245px;
      margin: 0;
      min-height: 290px;
      padding-top: 65px;
      box-sizing: border-box;

      img {
        margin: 0 auto;
        padding-bottom: 60px;
      }

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/gift-photo-desktop@2x.jpg");
        background-size: 245px auto;
      }
    }

    &__info {
      width: 100%;
      text-align: center;
      padding: 125px 40px 35px;
      background-position: top center;
    }
  }
}
