.form-page {
  &__main-title {
    .container;
    font-size: 36px;
    line-height: 60px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 35px;
  }

  &__info {
    .container;
    margin-left: 0;
    width: 85%;
    text-align: left;
  }
}
