.form-goal-radio {
  display: block;
  margin-bottom: 28px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover &__description::before {
    border: 1px solid @dark-grey;
  }

  &:active {
    opacity: 0.3;
  }

  &__description::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid @light-grey;
    position: absolute;
    left: -40px;
    top: -5px;
  }

  &__input:checked + .form-goal-radio__description::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: @green;
    border-radius: 15px;
    position: absolute;
    left: -30px;
    top: 5px;
  }
}
