.form-checkbox {
  // display: block;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .form-checkbox {
    &--extra {
      width: 45%;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-checkbox {
    &--extra {
      width: 20%;
    }
  }
}
