.form {
  &__main-title {
    .container;
    font-size: 36px;
    line-height: 60px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 35px;
  }

  &__info {
    .container;
    margin-left: 0;
    width: 85%;
    text-align: left;
  }

  &__cat-info {
    border: none;
    .container;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  &__goal {
    border: none;
    border-top: 1px solid @light-grey;
    border-bottom: 1px solid @light-grey;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  &__title {
    .container;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__contacts {
    .container;
    border: none;
  }

  &__comment {
    .container;
    border: none;

    & textarea {
      box-sizing: border-box;
      font-family: @oswald;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      text-transform: uppercase;
      width: 100%;
      padding: 15px;
    }
  }

  &__extra {
    .container;
    border: none;
    padding-bottom: 40px;
  }

  &__bottom {
    .container;

    & input {
      width: 100%;
      margin-bottom: 20px;
    }

    & span {
      text-transform: none;
      text-align: center;
      font-family: @arial;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
