.form-field {
  display: flex;
  padding-bottom: 13px;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    position: relative;
  }

  input {
    box-sizing: border-box;
    margin-left: 15px;
    padding: 13px;
    font-size: 16px;
    line-height: 18px;
    font-family: @oswald;
    text-transform: uppercase;
    border: 1px solid @light-grey;
    flex-grow: 1;

    &:hover {
      border: 1px solid darken(@light-grey, 10%);
    }

    &:focus {
      border: 2px solid darken(@light-grey, 100%);

      & + svg {
        color: @green;
      }
    }

    &:invalid {
      border: 2px solid @red;

      & + svg {
        color: @red;
      }
    }
  }

  &--contacts-email,
  &--contacts-phone {
    input {
      margin-left: 12px;
    }
  }

  &--contacts-email svg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--contacts-phone svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: @tablet-width) {
  .form-field {
    padding-bottom: 20px;

    input {
      font-size: 20px;
      line-height: 20px;
      padding: 10px;
      height: 52px;
      padding-left: 20px;
      margin-left: 16px;
    }

    &--contacts-email svg {
      right: 20px;
    }

    &--contacts-phone svg {
      right: 16px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-field {
    &--contacts-email,
    &--contacts-phone {
      width: 47%;
    }

    &--contacts-email {
      padding: 0;
    }
  }
}
