.form-field {
  display: flex;
  padding-bottom: 15px;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }

  input {
    box-sizing: border-box;
    margin-left: 15px;
    padding: 15px;
    font-size: 16px;
    line-height: 18px;
    font-family: @oswald;
    text-transform: uppercase;
    border: 1px solid @light-grey;
    flex-grow: 1;

    &:hover {
      border: 1px solid darken(@light-grey, 10%);
    }

    &:focus {
      border: 2px solid darken(@light-grey, 100%);

      & + svg {
        color: @green;
      }
    }
  }

  &--contacts-email svg {
    position: absolute;
    right: 16px;
  }

  &--contacts-phone svg {
    position: absolute;
    right: 12px;
  }
}

@media (min-width: @tablet-width) {
  .form-field {
    input {
      font-size: 20px;
      line-height: 20px;
    }

    &--contacts-email svg {
      right: 20px;
    }

    &--contacts-phone svg {
      right: 16px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-field {
    &--contacts-email,
    &--contacts-phone {
      width: 45%;
    }

    &--contacts-email {
      margin-right: auto;
    }
  }
}
