.main-nav {
  text-transform: uppercase;
  background-color: @white;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  display: block;

  &__toggle {
    position: absolute;
    right: 20px;
    top: -43px;
    display: none;
    background-color: inherit;
    font-family: inherit;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 18px;
    background-image: url("../img/icon-mobile-menu.svg");
    background-size: 24px 18px;
    background-repeat: no-repeat;
    background-position: center;

    // & svg {
    //   width: 24px;
    //   height: 20px;
    // }

    &--disable {
      display: none;
    }

    &--visible {
      display: block;
    }
  }

  &__list {
    &--show {
      display: block;
    }

    &--close {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    // margin-left: 55px;

    &__toggle {
      display: none;
    }

    &__list {
      display: flex;
      width: 440px;
      justify-content: space-between;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    font-size: 20px;
    line-height: 24px;

    &--index {
      background-color: transparent;
      color: @white;
    }

    &__list {
      width: 480px;
    }
  }
}
