.products-item {
  border-bottom: 1px solid @light-grey;
  .container;
  padding-top: 22px;
  padding-bottom: 21.5px;
  display: flex;
  flex-wrap: wrap;
  // width: 320px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  &__info {
    width: 50%;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 60%;
    margin-top: 0;
    margin-bottom: 11px;

    &--more::before {
      content: "";
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
      width: 30px;
      height: 30px;
      background-image: url("../../img/icon-plus-mobile.svg");
      opacity: 0.2;
    }
  }

  &__image {
    margin-top: -22px;
  }

  &__table {
    font-family: @arial;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    width: 100%;
    box-sizing: border-box;
    color: @grey-text;
    border-collapse: collapse;
  }

  &__column {
    padding: 0;
  }

  &__column:last-child {
    text-align: right;
  }

  &__button {
    width: 280px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
  }

  &--more {
    padding-top: 27px;
  }

  &__title--more {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
  }

  &__slogan {
    font-family: @arial;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    color: @grey-text;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__button--show {
    background-color: @grey;
    width: 280px;
    color: @grey-text;
    font-size: 16px;
    line-height: 20px;

    &:hover {
      background-color: darken(@grey, 5%);
    }

    &:active {
      background-color: darken(@grey, 5%);
      color: @grey-text;
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .products-item {
    margin: 0 60px 138px 0;
    padding: 0 38px 40px;
    width: calc(50% - 30px);
    background-color: @grey;
    display: block;
    border: none;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &__wrapper {
      margin: 0;
      width: auto;
      display: block;
    }

    &__image {
      width: calc(100% + 80px);
      margin-top: -47px;
      margin-bottom: 33px;
      margin-left: -40px;
      margin-right: -20px;
    }

    &__image--big {
      margin-top: -82px;
    }

    &__info {
      width: auto;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 17px;

      &--more::before {
        background-image: url("../../img/icon-plus.svg");
        background-size: 60px;
        width: 60px;
        height: 60px;
        margin-bottom: 50px;
      }
    }

    &__table {
      font-size: 16px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 33px;
    }

    &__column {
      border-bottom: 1px solid @light-grey;
      padding-bottom: 7px;
      padding-top: 10px;
    }

    &__button {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .products-item--more {
    background-color: @white;
    border: 1px solid @grey;
    padding-top: 55px;

    .products-item__title {
      padding: 0 35px;
      box-sizing: border-box;
      margin-bottom: 25px;
    }

    .products-item__slogan {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 87px;
      text-align: center;
      box-sizing: border-box;
      padding: 0 25px;
    }

    .products-item__button--show {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .products-item {
    width: calc(25% - 60px);
    margin-right: 80px;
    box-sizing: border-box;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &__title {
      width: 80%;
    }

    &__image {
      margin-bottom: 31px;
    }

    &--more {
      .products-item__title {
        padding: 0;
      }

      .products-item__slogan {
        padding: 0;
      }
    }
  }
}
