.products {

  &__main-title {
    font-family: @oswald;
    font-weight: 400;
    text-transform: none;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
    padding: 30px 20px 40px 20px ;

    border-top: 1px solid @light-grey;
    border-bottom: 1px solid @light-grey;
  }

  &__list {
    .list-style-none;
  }
}
