.products-item {
  border-bottom: 1px solid @light-grey;
  .container;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;

  &__info {
    width: 50%;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 60%;
  }

  &__table {
    font-family: @arial;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    width: 100%;
    box-sizing: border-box;
    color: @grey-text;
    border-collapse: collapse;
  }

  &__column:last-child {
    text-align: right;
  }

  &__button {
    width: 280px;
    margin: 0 auto;
  }

  &__title--more {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  &__slogan {
    font-family: @arial;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    color: @grey-text;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__button--show {
    background-color: @grey;
    width: 280px;
    color: @grey-text;
  }

  &__button--show:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .products-item {
    padding: 40px;
    padding-top: 0;
    width: 324px;
    background-color: @grey;
    margin-bottom: 140px;
    display: block;

    &:nth-child(2n+1) .products-item__image {
      margin-top: -45px;
      margin-bottom: 50px;
      margin-left: -40px;
    }

    &:nth-child(2n) .products-item__image {
      margin-top: -80px;
      margin-bottom: 50px;
      margin-left: -40px;
    }

    &__info {
      width: 100%;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
      display: block;
      text-align: center;
      width: 140px;
      margin: 0 auto;
      margin-bottom: 25px;
    }

    &__table {
      font-size: 16px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 35px;
    }

    &__column {
      border-bottom: 1px solid @light-grey;
      padding-bottom: 5px;
      padding-top: 10px;
    }

    &__button {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .products-item:last-child {
    background-color: @white;
    border: 1px solid @grey;

    .products-item__title {
      padding-top: 145px;
    }

    .products-item__slogan {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 110px;
      text-align: center;
    }

    .products-item__button--show {
      width: 250px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }
}
