.programs {
  .container;

  &__item {
    background-color: @grey;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px 20px 20px;
  }

  &__title {
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-align: left;
    padding: 20px 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: relative;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;

    &::before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      border: 25px solid @green;
      box-sizing: border-box;
      background-color: @green;
      z-index: 0;
      position: relative;
    }

    &--loosing-weight {
      &::after {
        content: "";
        background-image: url("../img/icon-cat-slim.svg");
        background-size: 35px auto;
        background-repeat: no-repeat;
        background-position: center;
        min-width: 50px;
        min-height: 50px;
        position: absolute;
        top: 45%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }

    &--weight-gain {
      &::after {
        content: "";
        background-image: url("../img/icon-cat-pro.svg");
        background-size: 67px auto;
        background-repeat: no-repeat;
        background-position: center;
        min-width: 70px;
        min-height: 30px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }

  &__description {
    font-family: @arial;
    text-transform: none;
    font-size: 14px;
    line-height: 18px;
    margin: auto;
    border-bottom: 1px solid @light-grey;
    color: @grey-text;
    padding-bottom: 22px;
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding-top: 20px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 25px 12px;
    background-position: 95px 23px;

    &:hover {
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-size: 35px 12px;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .programs {
    padding: 0;
    .container-tablet;

    &__item {
      width: auto;
      padding: 75px 280px 60px 52px;
      text-align: left;
      margin-bottom: 33px;
      position: relative;
      z-index: 1;

      &--weight-gain {
        padding-right: 312px;
      }
    }

    &__icon {
      position: absolute;
      right: 40px;
      top: 90px;
      height: auto;
      width: auto;

      &::before {
        border: 100px solid @green;
      }

      &--loosing-weight {
        &::after {
          background-size: 140px auto;
          min-width: 150px;
          min-height: 200px;
        }
      }

      &--weight-gain {
        &::after {
          background-size: 268px auto;
          min-width: 270px;
          min-height: 115px;
        }
      }
    }

    &__title {
      font-size: 36px;
      line-height: 37px;
      padding: 0;
      margin: 0;
      margin-bottom: 25px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      border-bottom: none;
      padding-bottom: 56px;
    }

    &__link {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
      background-position: 130px 5px;

      &:active {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .programs {
    .container-desktop;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 47%;
      padding: 45px 53px 60px;
      box-sizing: border-box;
      margin: 0;
      margin-bottom: 60px;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__description {
      padding-bottom: 30px;
    }

    &__icon {
      top: 0;
      left: 0;
      margin-right: 63px;
      position: relative;

      &::before {
        border: 50px solid @green;
      }

      &--loosing-weight {
        &::after {
          background-size: 70px auto;
        }
      }

      &--weight-gain {
        &::after {
          background-size: 134px auto;
        }
      }
    }
  }
}
