.promo {
  background-color: @white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px, 305px;
  color: @white;
  margin-bottom: 20px;

  &__title {
    display: block;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 10px;
    margin: auto;
  }

  &__slogan {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin: 0 auto 30px;
  }

  &__image {
    display: block;
    margin: 0 auto 30px;
  }

  &__button {
    width: 280px;
  }
}
