.site-list {
  .list-style-none;

  &__item {
    .container;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid @light-grey;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    padding-top: 15px;

    &__item {
      padding: 5px 0;
      border-top: none;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }

      &--active {
        border-bottom: 2px solid @green;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    &__item {
      &--index {
        color: @white;
      }

      &--index-active {
        border-bottom: 2px solid @white;
      }
    }
  }
}
