.social {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 20px 80px;
  }

  &__link {
  }

  &__link--vk {
    display: block;
    width: 22px;
    height: 12px;
    fill: #717171;
  }

  &__link--instagram {
    display: block;
    width: 16px;
    height: 16px;
    fill: #717171;
  }

  &__link--facebook {
    display: block;
    width: 10px;
    height: 19px;
    fill: #717171;
  }
}
