.work-description {
  .container;
  margin-bottom: 40px;

  &__title {
    font-size: 36px;
    line-height: 60px;
    text-transform: none;
    font-weight: 400;
    padding-top: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  &__list {
    .list-style-none;
  }

  &__item {
    font-family: @arial;
    text-transform: none;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }

  &__icon {
    width: 50px;
    height: 50px;
    background-color: @green;
    padding: 5px;
  }

  &__text {
    margin: 0;
    margin-left: 20px;
  }

  &__background-number {
    display: none;
    position: absolute;
  }
}

@media (min-width: @tablet-width) {
  .work-description {
    .container-tablet;
    padding-top: 15px;

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 71px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__icon {
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 30px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 46%;
      box-sizing: border-box;
      padding-right: 81px;
      font-size: 16px;
      line-height: 24px;
      min-height: 230px;
      justify-content: flex-start;
      margin-bottom: 88px;
    }

    &__text {
      margin: 0;
    }

    &__background-number {
      display: block;
      position: absolute;
      top: -40px;
      left: 115px;
      font-family: @oswald;
      font-size: 281px;
      line-height: 281px;
      color: @grey;
      z-index: -1;
    }
  }
}


@media (min-width: @desktop-width) {
  .work-description {
    .container-desktop;

    &__item {
      width: 245px;
      padding: 0;
      margin-bottom: 70px;
    }
  }
}
