@grey: #f2f2f2;
@dark-grey: #717171;
@light-grey: #d9d9d9;
@white: #ffffff;
@green: #68b738;
@grey-text: #444444;
@oswald: "Oswald";
@arial: "Arial", sans-serif;
@mobile-width: 320px;

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
