@grey: #f2f2f2;
@dark-grey: #717171;
@light-grey: #d9d9d9;
@white: #ffffff;
@green: #68b738;
@grey-text: #444444;
@black: #000000;
@oswald: "Oswald";
@arial: "Arial", sans-serif;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

.list-style-none() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container() {
  max-width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-tablet() {
  max-width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
